@model ProjectWeb.Models.ShoppingCartViewModel

@using Microsoft.AspNetCore.Identity;
@using ProjectWeb.Data;

@inject SignInManager<AppUser> SignInManager
<!-- Shoping Cart Section Begin -->
@if (Model.cartItems.Count > 0)
{
    double total = 0;

    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cartitem in Model.cartItems)
                                {
                                    double amount = Double.Parse(cartitem.quantity.ToString()) * Double.Parse(cartitem.mobile.Price.ToString());
                                    total += amount;

                                    <tr id="@($"row-{cartitem.mobile.MobileID}")">
                                        <td class="shoping__cart__item">
                                            <img src="@($"/img/data/{cartitem.mobile.MobileID}.jpg")" alt="" width="101px" height="100px">
                                            <h5>@cartitem.mobile.MobileName</h5>
                                        </td>
                                        <td class="shoping__cart__price" id="@($"price-{cartitem.mobile.MobileID}")">
                                            @cartitem.mobile.Price.ToString()
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty updatecartitem" data-id=@cartitem.mobile.MobileID>
                                                    <input type="number" step="1" min="0" asp-for="@cartitem.quantity" id="@($"quantity-{cartitem.mobile.MobileID}")">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="shoping__cart__total" id="@($"amount-{cartitem.mobile.MobileID}")">
                                            @amount.ToString()
                                        </td>
                                        <td class="shoping__cart__item__close">
                                            <span class="icon_close removecartitem" data-id=@cartitem.mobile.MobileID></span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a asp-controller="Home" asp-action="Index" class="primary-btn cart-btn btn-outline-success">CONTINUE SHOPPING</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>Discount Codes</h5>
                            <form method="post">
                                <input asp-for="@Model.discountCode" type="text" placeholder="Enter your coupon code">
                                <button type="submit" class="site-btn">APPLY COUPON</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                        <ul>
                            <li>Total <span id="total">@total.ToString()</span></li>
                        </ul>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a asp-controller="ShoppingCart" asp-action="Checkout" class="primary-btn">PROCEED TO CHECKOUT</a>
                        }
                        else
                        {
                            <a asp-controller="User" asp-action="Login" class="primary-btn">PROCEED TO CHECKOUT</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->
    @section Scripts {
    <script>
        $(document).ready(function () {
            $(".updatecartitem").click(function (event) {
                event.preventDefault();
                var id = $(this).attr("data-id");
                var quantity = $("#quantity-" + id).val();
                if (quantity > 0) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Content("~/ShoppingCart/UpdateCart")",
                        data: {
                            id: id,
                            quantity: quantity
                        },
                        success: function (result) {
                            var price = parseInt($("#price-" + id).text());
                            var amountBefore = parseInt($("#amount-" + id).text());
                            var total = parseInt($("#total").text());
                            var amount = price * quantity;
                            total = total - amountBefore + amount;
                            $("#amount-" + id).html(amount.toString());
                            $("#total").html(total.toString());

                        }
                    });
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Content("~/ShoppingCart/RemoveCart")",
                        data: {
                            id: id
                        },
                        success: function (result) {
                            var amount = parseInt($("#amount-" + id).text());
                            var total = parseInt($("#total").text());
                            total = total - amount;
                            $("#row-" + id).remove();
                            $("#total").html(total.toString());

                        }
                    });
                }
            });

            $(".removecartitem").click(function (event) {
                event.preventDefault();
                var id = $(this).attr("data-id");
                $.ajax({
                    type: "POST",
                    url: "@Url.Content("~/ShoppingCart/RemoveCart")",
                    data: {
                        id: id
                    },
                    success: function (result) {
                        var amount = parseInt($("#amount-" + id).text());
                        var total = parseInt($("#total").text());
                        total = total - amount;
                        $("#row-" + id).remove();
                        $("#total").html(total.toString());

                    }
                });
            });

        });
    </script>
      }

}
else
{
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="alert alert-danger">Giỏ hàng trống</p>
                    <div class="shoping__cart__btns">
                        <a asp-controller="Home" asp-action="Index" class="primary-btn cart-btn btn-outline-success">CONTINUE SHOPPING</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>Discount Codes</h5>
                            <form>
                                <input  type="text" placeholder="Enter your coupon code" readonly=true>
                                <button disabled type="submit" class="site-btn">APPLY COUPON</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                        <ul>
                            <li>Total <span id="total">0</span></li>
                        </ul>
                        <a class="primary-btn disabled">PROCEED TO CHECKOUT</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}